/* Start: Recommended Isotope styles */
    
/**** Isotope Filtering ****/
    
.isotope-item {
    z-index: 2;
}
    
.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}
    
/**** Isotope CSS3 transitions ****/
    
.isotope,
.isotope .isotope-item {
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -khtml-transition-duration: 1s;
    -ms-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    
    
}
    
.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -khtml-transition-property: height, width;
    -ms-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
    
}
    
.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property:    -moz-transform, opacity;
    -khtml-transition-property:    -moz-transform, opacity;
    -o-transition-property:    -o-transform, opacity;
    -ms-transition-property:    -ms-transform, opacity;
    transition-property:     transform, opacity;
}
    
/**** disabling Isotope CSS3 transitions ****/
    
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -khtml-transition-duration: 0s;
    -ms-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
}
    
/* End: Recommended Isotope styles */
    
    
/**** Isotope styles ****/
    
/* required for containers to inherit vertical size from window */
    
    
    
#container {
    border: 1px dotted #666;
    margin-bottom: 20px;
    position:relative;
    padding-bottom:10px;
    
}

/**** default element ****/

.element {
    position: absolute;
    float: left;
    width: 180px; 
    height: 180px;
    color: #000;
    background:#e2e2e2;
    border-radius: 3px 3px 20px 3px;
    overflow: hidden !important;
    margin: 5px;
    padding:20px;
    border:0;
    text-align:center;
}

.variable-sizes .element.height2 {
    width: 410px; 
}
.variable-sizes .element.width2 {
    height: 410px; 
}
.element.large,
.variable-sizes .element.width2.height2,
.variable-sizes .element.large {
    width: 410px; 
    height: 410px;
    border-radius: 6px 6px 40px 6px;
}
.clickable .element {
cursor:pointer;
}    
/**** Example Options ****/
    
#options {
    padding-bottom: 1.0em;
    font-size: 10px;
    font-family:            Helvetica,Arial,Verdana;Tahoma,'sans-serif';
    margin-top:20px;
    margin-left: 5px;
}
    
#options ul {
    margin: 5px 0;
    list-style-type:        none;
    list-style-image:        none;
    list-style:             none;
    display:block;
}
    
#options li {
    float: left;
    margin-bottom: 0.2em;
    margin-left: -0.0em;
    color: #000 ;
    padding:0 ;
    margin:0;
}
    
#options li a {
    display: block;
    padding:5px 10px ;
    text-align:center;
    background: #f1f1f1 ;
    border: 1px dotted #666;
    border-left: 0;
    color: #444;
    font-size:10px;
    text-transform:capitalize;
}
#options li.dynamic-filter a {
    display: block;
    padding:5px 10px ;
    text-align:center;
    background: #298A08 ;
    border: 1px dotted #bbb;
    border-left: 0;
    color: #e6e6e6;
    font-size:10px;
    text-transform:capitalize;
}
    
#options #filters li a:hover {
    background: #e6e6e6 ;
    color: #000 ;
}
#options #filters li.dynamic-filter a:hover {
    background: #21610B ;
    color: #f6f6f6 ;
}
#options li.dynamic-filter a.selected {
    background: #173B0B !important;
    color: #fefefe !important;
}
    
    
#options li.dynamic-filter:first-child a {
    border-radius: 5px 0 0 5px;
    border: 1px dotted #bbb;
}
#options li:first-child a {
    border-radius: 5px 0 0 5px;
    border: 1px dotted #666;
}
    
#options li:last-child a {
    border-radius: 0 5px 5px 0;
}
    
#options li a.selected {
    background: #d6d6d6 !important;
    color: #000 !important;
}

/**** Infinite Scroll ****/

#infscr-loading {
  position: fixed;
  top: 40%;
  left: 42%;
  z-index: 100;
  background: white;
  padding: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #444;
  font-size: 15px;
  font-style: normal;
  font-weight: bold;
border:#aaa 1px dotted;
text-align:center;
font-family:Helvetica,Arial, Verdana,Tahoma;
}
#infscr-loading em {
  font-style: normal;
  font-weight: bold;
font-family:Helvetica,Arial, Verdana,Tahoma;
}
#infscr-loading img {
margin:auto;
width:40px;
height:40px;
}
    
/* The Magnificent Clearfix: nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
    
